# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# -------------------------------------------------------------------
# GitHub C 템플릿 맨 아래에 사지방/Codespaces용 규칙 추가
# -------------------------------------------------------------------

# 확장자가 없는 빌드 결과물(바이너리)들을 직접 지정하여 제외
01_shell
02_shell_knuth

# 만약 하위 폴더의 모든 실행 파일을 일일이 적기 귀찮다면:
# 확장자가 없는 파일들을 빌드할 때 'bin'이나 'build' 같은 폴더를 만들어 
# 그 안에 모이도록 코드를 짰다면 아래와 같이 폴더 통째로 제외할 수도 있습니다.
# /bin/
# /build/
